[user]
	name = Jozsef Kozma
	email = joco@gawker.com

[alias]
	fb = diff -b
	co = checkout
	ci = commit
	st = status
	br = branch
	pl = pull --rebase --verbose
	ps = push
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=iso
	histlog = log --pretty=format:\"%ad | %s%d [%an] [%h]\" --date=iso
	type = cat-file -t
	dump = cat-file -p

[color]
	diff = auto
	status = auto
	branch = auto


[mergetool]
	keepBackup = true

[core]
	editor = mate -w
	excludesfile = /opt/boxen/config/git/gitignore

[credential]
	helper = /opt/boxen/bin/boxen-git-credential

[hub]
	protocol = https
