<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
  
    <!--
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-" 
        maxThreads="150" minSpareThreads="4"/>
    -->
    
    
    <Connector port="8080" protocol="HTTP/1.1" 
               connectionTimeout="20000" 
               redirectPort="8443" />
    <!--
    <Connector executor="tomcatThreadPool"
               port="8080" protocol="HTTP/1.1" 
               connectionTimeout="20000" 
               redirectPort="8443" />
    -->           
    <!--
    <Connector port="8443" protocol="HTTP/1.1" SSLEnabled="true"
               maxThreads="150" scheme="https" secure="true"
               clientAuth="false" sslProtocol="TLS" />
    -->

    <Connector port="8009" protocol="AJP/1.3" redirectPort="8443" />

    <Engine name="Catalina" defaultHost="localhost">

      <!-- <Listener className="org.apache.catalina.mbeans.JmxRemoteLifecycleListener" rmiRegistryPortPlatform="9090" rmiServerPortPlatform="9091" /> -->

      <!--
      <Valve className="org.apache.catalina.valves.RequestDumperValve"/>
	      -->

	      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
	             resourceName="UserDatabase"/>

	      <Host name="localhost"  appBase="webapps"
	            unpackWARs="true" autoDeploy="true" deployOnStartup="true"
	            xmlValidation="false" xmlNamespaceAware="false">

	        <!--
	        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"  
	               prefix="localhost_access_log." suffix=".txt" pattern="common" resolveHosts="false"/>
	        -->

	      </Host>
	    </Engine>
	  </Service>
	</Server>